# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [4]:
categories_id = categories.id

In [5]:
categories_headers = [x.split('-')[0] for x in categories.categories[0].split(';')]

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [6]:
# merge datasets
df = pd.merge(messages,categories)
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [7]:
# create a dataframe of the 36 individual category columns
categories = categories.categories.str.split(';',expand=True)
categories.columns = categories_headers

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [8]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = [x[-1:] for x in categories[column]]
    
    # convert column from string to numeric
    categories[column] = categories[column].astype(int)
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
categories = categories.join(categories_id)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [10]:
# drop the original categories column from `df`
df=df.drop(columns=['categories'])

df.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [11]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.merge(df,categories)
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [12]:
# check number of duplicates
df[df.duplicated()].count()

id                        452
message                   452
original                  200
genre                     452
related                   452
request                   452
offer                     452
aid_related               452
medical_help              452
medical_products          452
search_and_rescue         452
security                  452
military                  452
child_alone               452
water                     452
food                      452
shelter                   452
clothing                  452
money                     452
missing_people            452
refugees                  452
death                     452
other_aid                 452
infrastructure_related    452
transport                 452
buildings                 452
electricity               452
tools                     452
hospitals                 452
shops                     452
aid_centers               452
other_infrastructure      452
weather_related           452
floods                    452
storm                     452
fire                      452
earthquake                452
cold                      452
other_weather             452
direct_report             452
dtype: int64

In [13]:
# drop duplicates
df=df.drop_duplicates()

In [14]:
# check number of duplicates
df[df.duplicated()].count()

id                        0
message                   0
original                  0
genre                     0
related                   0
request                   0
offer                     0
aid_related               0
medical_help              0
medical_products          0
search_and_rescue         0
security                  0
military                  0
child_alone               0
water                     0
food                      0
shelter                   0
clothing                  0
money                     0
missing_people            0
refugees                  0
death                     0
other_aid                 0
infrastructure_related    0
transport                 0
buildings                 0
electricity               0
tools                     0
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
weather_related           0
floods                    0
storm                     0
fire                      0
earthquake                0
cold                      0
other_weather             0
direct_report             0
dtype: int64

In [15]:
df

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,14,Information about the National Palace-,Informtion au nivaux palais nationl,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,15,Storm at sacred heart of jesus,Cyclone Coeur sacr de jesus,direct,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
7,16,"Please, we need tents and water. We are in Sil...",Tanpri nou bezwen tant avek dlo nou zon silo m...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
8,17,"I would like to receive the messages, thank you",Mwen ta renmen jouin messag yo. Merci,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,18,I am in Croix-des-Bouquets. We have health iss...,"Nou kwadebouke, nou gen pwoblem sant m yo nan ...",direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
10,20,"There's nothing to eat and water, we starving ...",Bon repo pa gen anyen menm grangou swaf,direct,1,1,0,1,1,1,...,0,1,1,1,0,0,0,0,0,1
11,21,I am in Petionville. I need more information r...,M nan pv mvle plis enfomasyon sou 4636,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,22,"I am in Thomassin number 32, in the area named...",Mwen thomassin 32 nan pyron mwen ta renmen jwe...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
13,24,"Let's do it together, need food in Delma 75, i...",Ann fel ansanm bezwen manje nan delma 75 nan r...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
14,25,More information on the 4636 number in order f...,gen plis enfomasyon sou 4636 la pom w sim ap k...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,26,"A Comitee in Delmas 19, Rue ( street ) Janvier...",Komite katye delma 19 rue janvier imp charite ...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
16,27,We need food and water in Klecin 12. We are dy...,Nou bezwen mange avek dlo nan klcin 12 LA LAFI...,direct,1,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
17,28,are you going to call me or do you want me to ...,Eske se rele nap relem oubyen se mwen kap rele...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,30,I don't understand how to use this thing 4636.,Mwen pa konprann koman pou m itilize bagay 463...,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,31,I would like to know if the earthquake is over...,Mwen ta remen connin si trenblem de terre afin...,direct,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
20,32,I would like to know if one of the radio ginen...,Mwen ta renmen konnen eske ge jounalis radyo g...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,33,"I'm in Laplaine, I am a victim",Mwen laplan mwen viktim kot yap bay d pou latr...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
22,34,"There's a lack of water in Moleya, please info...",Nan moleya pa gen dlo svp f konnen sa pou mwen.,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
23,35,Those people who live at Sibert need food they...,nou menm nan sibert nou grangou nou bezwen mange,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
24,36,"I want to say hello, my message is to let you ...",Mwen salye nou dab mesaj mwen an se jis nou ge...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,37,Can you tell me about this service,Can you tell me about this service,direct,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,38,"People I'm at Delma 2, we don't anything what ...",MEZANMI MWEN MWEN NAN DELMA 2 NOU TR MAN MAL N...,direct,1,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,1
27,39,We are at Gressier we needs assistance right a...,Se gressier nou an difikilte tanpri vin ede nou,direct,1,1,0,1,1,0,...,0,0,1,1,0,0,0,0,0,1
28,41,How can we get water and food in Fontamara 43 ...,Comment nou ka jwen dlo ak manje nan font 43 c...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
29,42,We need help. Carrefour has been forgotten com...,Nap di secours yo bliye kafou net sant m ap to...,direct,1,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26638,30233,The ability to pick dengue from influenza is c...,NaN,news,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
26639,30234,A Federation chartered ship arrived from Lae w...,NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
26640,30235,The result is that in Aceh province many prefa...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26641,30236,"Otherwise, the risk is families fleeing again ...",NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26642,30237,A United Nations team from the Electoral Assis...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26643,30238,Senegal and Guinea-Bissau have agreed to condu...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26644,30239,The President said that her Government always ...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26645,30240,It was decided that all vehicle movement from ...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26646,30241,The tendency to link deforestation with large ...,NaN,news,1,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
26647,30242,Polio is a viral disease that attacks the nerv...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26648,30243,The new constitution declares that 'Somalia is...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26649,30245,We're providing clean water to people who woul...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
26650,30246,"Relief items include towels, sanitary napkins,...",NaN,news,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
26651,30247,In Aceh's Meulaboh town the UN refugee agency ...,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26652,30248,WHO is recruiting a sanitary engineer / consul...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26653,30249,Following the severe floods which occurred ove...,NaN,news,1,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
26654,30250,The closure has stopped 169 inbound flights an...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26655,30251,"BANGKOK, 24 January 2012 (NNT) - Prime Ministe...",NaN,news,1,0,0,1,0,0,...,0,0,1,1,0,0,0,0,0,0
26656,30253,"Cadmium, a metallic element widely used in bat...",NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26657,30254,Epidemic surveillance: National Institute of C...,NaN,news,1,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
26658,30255,2.1 Due to sporadic skirmishes in eastern D.R....,NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26659,30256,No other army had gone to greater lengths to a...,NaN,news,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
26660,30257,The delivery was made in conjunction with the ...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26661,30258,However while ECOWAS wanted him to lead a 12-m...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26662,30259,"Hpakant, an area rich with coveted jade stones...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26663,30261,The training demonstrated how to enhance micro...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26664,30262,A suitable candidate has been selected and OCH...,NaN,news,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26665,30263,"Proshika, operating in Cox's Bazar municipalit...",NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26666,30264,"Some 2,000 women protesting against the conduc...",NaN,news,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
26667,30265,A radical shift in thinking came about as a re...,NaN,news,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [16]:
engine = create_engine('sqlite:///InsertDatabaseName.db')
df.to_sql('raw_data', engine, index=False, if_exists='replace')

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.

In [17]:
genre_counts = df.groupby('genre').count()['message']
genre_names = list(genre_counts.index)

In [22]:
genre_counts

genre
direct    10766
news      13054
social     2396
Name: message, dtype: int64

In [32]:
category_names = list(df.drop(columns=['id','message','original','genre']).columns)
df[category_names].sum().sort_values(ascending=False)

related                   20282
aid_related               10860
weather_related            7297
direct_report              5075
request                    4474
other_aid                  3446
food                       2923
earthquake                 2455
storm                      2443
shelter                    2314
floods                     2155
medical_help               2084
infrastructure_related     1705
water                      1672
other_weather              1376
buildings                  1333
medical_products           1313
transport                  1201
death                      1194
other_infrastructure       1151
refugees                    875
military                    860
search_and_rescue           724
money                       604
electricity                 532
cold                        530
security                    471
clothing                    405
aid_centers                 309
missing_people              298
hospitals                   283
fire                        282
tools                       159
shops                       120
offer                       118
child_alone                   0
dtype: int64

In [28]:
pd.DataFrame(categories_headers,columns=['categories'])

                categories
0                  related
1                  request
2                    offer
3              aid_related
4             medical_help
5         medical_products
6        search_and_rescue
7                 security
8                 military
9              child_alone
10                   water
11                    food
12                 shelter
13                clothing
14                   money
15          missing_people
16                refugees
17                   death
18               other_aid
19  infrastructure_related
20               transport
21               buildings
22             electricity
23                   tools
24               hospitals
25                   shops
26             aid_centers
27    other_infrastructure
28         weather_related
29                  floods
30                   storm
31                    fire
32              earthquake
33                    cold
34           other_weather
35           direct_report